IS_PRODUCTION=0


# Database
DB_USERNAME=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5433
DB_NAME=spectuel


# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=password

HTTP_REDIS_DB=0
REDIS_EMAIL_VERIFICATION_KEY_PREFIX=email_verification:
REDIS_CHANGE_USERNAME_KEY_PREFIX=change_password:
REDIS_CHANGE_EMAIL_KEY_PREFIX=change_email:
REDIS_CHANGE_PASSWORD_KEY_PREFIX=change_password:

ENGINE_REDIS_DB=1
REDIS_CASH_BALANCE_PREFIX=cash_balance:
REDIS_CASH_ESCROW_PREFIX=cash_escrow:
REDIS_CASH_BALANCE_HASH_PREFIX=cash_balance_logs:
REDIS_CASH_ESCROW_HASH_PREFIX=cash_escrow_logs:


# Kafka
KAFKA_HOST=localhost
KAFKA_PORT=9092

KAFKA_ENGINE_EVENTS_TOPIC=engine_events
KAFKA_COMMANDS_TOPIC=commands
KAFKA_BALANCE_EVENTS_TOPIC=balance_events
KAFKA_ORDER_EVENTS_TOPIC=balance_events
KAFKA_INSTRUMENT_EVENTS_TOPIC=instrument_events


# Auth
JWT_SECRET=my-secret
JWT_ALGO=HS256
JWT_EXPIRY_SECS=10000000


# Security
PW_HASH_SALT=your-pw-salt
ENCRYPTION_KEY=your-encryption-key
ENCRYPTION_IV_LEN=12


# Email
BREVO_API_KEY=
CUSTOMER_SUPPORT_EMAIL=


# Services
HEARTBEAT_SERVER_HOST=localhost
HEARTBEAT_SERVER_PORT=8001


# Misc
NEW_USER_COMMAND_ID=your-new-user-command-id
SYSTEM_USER_ID=your-system-user-id