services:
  postgres:
    image: postgres:16
    hostname: spectuel_postgres
    container_name: spectuel_postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - postgres:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: spectuel_redis
    restart: unless-stopped
    ports:
      - ${REDIS_PORT}:6379
    volumes:
      - redis:/data
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]

  backend:
    image: spectuel-backend:latest
    build:
      context: ..
      dockerfile: .docker/Dockerfile
    container_name: spectuel_backend
    ports:
      - 8000:8000
    depends_on:
      - postgres
      - redis

volumes:
  postgres:
    name: spectuel_postgres
  redis:
    name: spectuel_redis
